body{
    background-image: url('./bg.jpg');
    background-size: cover;
}
.container {
  background-color:ghostwhite;
  max-width: 400px;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 43px 17px grey;
  border-radius: 5px;
}
select {
  /* appearance: none; */
  outline: 0;
  font-size: 15px;
  background: rgb(252, 250, 248);
  background-image: none;
  width: 100%;
  height: 100%;
  color: black;
  cursor: pointer;
  border: 1px solid rgb(236, 233, 229);
  border-radius: 3px;
}
#display {
  text-align: right;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding: 16px 8px;
  border-bottom: 1px solid rgb(218, 208, 193);
}
#memory {
  text-align: center;
  height: 50px;
  line-height: 10px;
  font-size: 10px;
  padding: 10px 8px;
  
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.button {
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.buttons1 {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
}
.button1 {
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
#equal {
  background-color: rgb(123, 151, 189);
  color: honeydew;
}
.button:hover {
  background-color: darkslategrey;
  color: white;
  transition: 0.3s ease-in-out;
}
